table {
    width: 80%;
}

table,
td,
th {
    text-align: center;
}

.highlight td {
    background-color: #99e699;
}

#legenda {
    margin-top: 2rem;
}

#legenda span {
    display: block;
    margin: 1px 3px 0px 0px;
}

span:before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.square:before {
    background-color: #99e699;
}