<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Veículos para transporte</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>
<body>

<h3>Características da sua mercadoria:</h3>
  <ul>
    <li>Largura: {{model.largura}}
    <li>Altura: {{model.altura}}
    <li>Espessura: {{model.espessura}}
    <li>Peso: {{model.peso}}
  </ul>

{% for plataforma in plataformas %}
  <h3>Veículos disponíveis: {{plataforma}}</h3>

  <table>
    <tr>
      {% for key in data[0] %}
        <th>{{ key }}</th>
      {% endfor %}
    </tr>

    {% for dict_item in data %}
      {% if dict_item.plataforma == plataforma %}
        {% if dict_item.possui_requisitos == "Sim" %}
          <tr class="highlight">
              {% for value in dict_item.values() %}
                  <td>{{ value }}</td>
              {% endfor %}
          </tr>
        {% else %}
          <tr>
              {% for value in dict_item.values() %}
                  <td>{{ '' if value is none else value }}</td>
              {% endfor %}
          </tr>
        {% endif %}
      {% endif %}
    {% endfor %}
  </table>

{% endfor %}

<div id="legenda">
  <span class='square'>Suporta a mercadoria</span>
</div>

</body>
</html>